<template>
    <require from="../alert"></require>
    <require from="../../valueConverters/UserRole"></require>

    <div class="row m-t-1">
        <h1 class="col-sm-12">${title}</h1>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="row">
                <alert message="${error.message}" type="${error.type}"
                       if.bind="error" dismissable="true"
                       ondismiss.bind="dismissAlert"></alert>
            </div>
            <form class="form-horizontal" submit.trigger="submit()"
                  validate.bind="validation">

                <div class="form-group row">
                    <label for="name"
                           class="form-control-label">Name</label>
                    <input type="text" class="form-control" id="name"
                           value.bind="user.name">
                </div>

                <div class="form-group row">
                    <label for="surname"
                           class="form-control-label">Surname</label>
                    <input type="text" class="form-control" id="surname"
                           value.bind="user.surname">
                </div>

                <div class="form-group row">
                    <label for="login" class="form-control-label">Login</label>
                    <input type="text" class="form-control" id="login"
                           value.bind="user.login">
                </div>

                <div class="form-group row">
                    <label for="email"
                           class="form-control-label">Email</label>
                    <input type="email" class="form-control" id="email"
                           value.bind="user.email">
                </div>

                <div class="form-group row" show.bind="!edit">
                    <label for="password"
                           class="form-control-label">Password</label>
                    <input type="password" class="form-control"
                           id="password"
                           value.bind="user.password">
                </div>

                <div class="form-group row">
                    <label for="role"
                           class="form-control-label">Role</label>
                    <select id="role" class="form-control"
                            value.bind="user.role">
                        <option repeat.for="r of roles" model.bind="r">${r |
                            userRole}
                        </option>
                    </select>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-xs-right">
                        <input type="submit" class="btn btn-primary"
                               value="Save"
                               style="margin-right: calc(-1.9375rem/2);">
                    </div>
                </div>

            </form>

        </div>
    </div>

</template>
