<template>
    <require from="../../valueConverters/UserRole"></require>
    <require from="../../valueConverters/Sort"></require>
    <require from="../../valueConverters/Capitalize"></require>
    <require from="../../valueConverters/Filter"></require>
    <div class="row">
        <h1 class="col-sm-12 m-t-1">User List</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search"
                       value.bind="search & debounce">

            </div>
            <table class="table table-hover table-striped m-t-1">
                <thead class="thead-default">
                <tr>
                    <th repeat.for="elem of tableHeader">
                        <a click.trigger="sort(elem)">
                            ${elem | capitalize}
                            <i if.bind="sortData.key === elem"
                               class="fa ${sortData.dir ? 'fa-chevron-up' : 'fa-chevron-down'}"></i>
                        </a>
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="user of users | sort:sortData.key:sortData.dir | filter:search"
                class="aurelia-animators au-stagger ${user._id === id ? 'table-success' : ''}">
                    <td>
                        <a route-href="route: users/edit; params.bind: {id: user._id}">
                            ${user.login}
                        </a>
                    </td>
                    <td>${user.name}</td>
                    <td>${user.surname}</td>
                    <td>${user.email}</td>
                    <td>${user.role | userRole}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-primary-outline dropdown-toggle"
                                    data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <div class="dropdown-menu">
                                <a route-href="route: users/edit; params.bind: {id: user._id}"
                                   class="dropdown-item">Edit</a>
                                <a click.trigger="remove(user)" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                    <!--<td>${}</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
