.full-screen-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-height: calc(100% - 50px);
  margin-bottom: 0;

  & > .card-block {
    position: relative;
    height: calc(100% - 61px);
    padding-bottom: 45px;
    overflow: auto;
  }

  & > .card-footer {
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .pager {
      margin: 0;
    }
  }
}
