<template>
    <div class="alert alert-${type} alert-dismissable" ref="alert"
         if.bind="visible">
        <button type="button" class="close">
            <span aria-hidden="true" if.bind="dismissable"
                  click.trigger="dismiss()">&times;</span>
        </button>
        <span innerHTML.bind="message"></span>
    </div>
</template>
