<template>
    <require from="./nav-bar"></require>

    <nav-bar router.bind="router"></nav-bar>
    <div class="page-host container-fluid">
        <router-view></router-view>
    </div>
</template>
