<template>
    <div class="row m-t-1">
        <h1 class="col-sm-12">${message}</h1>
    </div>

    <div class="card card-block">
        <button class="btn btn-primary" click.trigger="s()">
            Open
        </button>
    </div>

    <div class="row">
        <form submit.trigger="log()" class="form-horizontal col-sm-12">
            <input class="form-control" value.bind="inputVal">

            <p>${inputVal}</p>
            <input type="submit">
        </form>
        <div class="col-sm-12">
        </div>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>User</h3>
        </div>
        <div class="panel-body">
            <!--${user.login}-->
            <pre>${user | json}</pre>
            <pre>${i}</pre>
            <input type="button" class="btn btn-primary" click.trigger="inc()" value="Inc()">
        </div>
        <div class="panel-footer" if.bind="User.is(User.ADMIN)">
            footer
        </div>
    </div>
</template>
