<template bindable="">
    <require from="./alert"></require>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="card card-inverse">
                <div class="card-header card-primary">
                    Login
                </div>
                <div class="card-block">
                    <div class="row">
                        <alert class="col-sm-12" message="${error.message}"
                               type="${error.type}"
                               if.bind="error">
                        </alert>
                    </div>
                    <form class="form-horizontal" validate.bind="validation">
                        <div class="form-group row novalidation">
                            <label for="username" class="form-control-label col-sm-2">Login</label>

                            <div class="col-sm-10">
                                <input type="text" id="username"
                                       class="form-control"
                                       value.bind="username">
                            </div>
                        </div>
                        <div class="form-group row novalidation">
                            <label for="password"
                                   class="form-control-label col-sm-2">Password</label>

                            <div class="col-sm-10">
                                <input type="password" id="password"
                                       class="form-control"
                                       value.bind="password">
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-sm-12 text-xs-right">
                                <input type="button" class="btn btn-primary"
                                       value="Login"
                                       click.trigger="login()"
                                >
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<div class="panel panel-primary">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <div class="row">
                        <alert class="col-sm-12" message="${error.message}"
                               type="${error.type}"
                               if.bind="error">
                        </alert>
                    </div>
                    <form class="form-horizontal">
                        <div class="row">
                            <label for="login" class="control-label col-sm-2">Login</label>

                            <div class="col-sm-10">
                                <input type="text" id="login"
                                       class="form-control"
                                       value.bind="username">
                            </div>
                        </div>
                        <div class="row margin-top">
                            <label for="password"
                                   class="control-label col-sm-2">Password</label>

                            <div class="col-sm-10">
                                <input type="password" id="password"
                                       class="form-control"
                                       value.bind="password">
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-primary"
                                       value="Login"
                                       click.trigger="login()"
                                >
                            </div>
                        </div>
                    </form>
                </div>
            </div>-->
        </div>
    </div>
</template>
