<template>
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top"
         if.bind="global.showNav">
        <button class="navbar-toggler hidden-sm-up" type="button"
                data-toggle="collapse" data-target="#collapse">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="collapse">
            <a class="navbar-brand" href="/home">
                <i class="fa fa-home"></i>
                <span>${router.title}</span>
            </a>

            <ul class="nav navbar-nav">
                <li repeat.for="row of router.navigation"
                    class="nav-item ${row.isActive && 'active'}"
                    if.bind="userService.isLoggedIn">
                    <a href.bind="row.href" class="nav-link">
                        ${row.title}
                    </a>
                </li>
                <li class="nav-item dropdown"
                    if.bind="userService.isLoggedIn && user.is(UserModel.USER) || user.is(UserModel.ADMIN)">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Test Cases
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            List
                        </a>

                        <div class="dropdown-divider"></div>
                        <div class="dropdown-header">
                            New Test
                        </div>
                        <a route-href="route: basic"
                           class="dropdown-item">
                            Basic
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown"
                    if.bind="userService.isLoggedIn && user.is(UserModel.ADMIN)">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">Users</a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" route-href="route: users/add">
                            Add
                        </a>
                        <a class="dropdown-item" route-href="route: users/list">
                            List
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item" if.bind="router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
                <li class="nav-item dropdown" if.bind="userService.isLoggedIn">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Logged in as <b>${user.name} ${user.surname}</b>
                        (${user.login})
                    </a>

                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">
                            Profile
                        </a>
                        <a click.trigger="logout()" class="dropdown-item">
                            Logout
                        </a>
                    </div>
                </li>
                <li class="nav-item" if.bind="!userService.isLoggedIn">
                    <a click.trigger="userService.login()" class="nav-link">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</template>
