<template>
    <div class="card full-screen-card">
        <div class="card-header">
            Basic #${testCase.id}
        </div>
        <!--        <div class="card-block">
                    <ul class="nav nav-tabs m-t-1">
                        <li repeat.for="row of router.navigation" class="nav-item">
                            <a href.bind="row.href"
                               class="nav-link ${row.isActive ? 'active' : ''}">
                                ${row.title}
                            </a>
                        </li>
                    </ul>
                </div>-->
        <div class="card-block">
            <router-view></router-view>
        </div>
        <div class="card-footer">
            <nav>
                <ul class="pager">
                    <li class="pager-prev">
                        <a href="">Back</a>
                    </li>
                    <li class="pager-next">
                        <a click.trigger="next()">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</template>
