<template>
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    Info
                </div>
                <form class="form card-block"
                      validate.bind="parent.testCase.validation">
                    <div class="form-group">
                        <label for="name" class="form-control-label">
                            Name
                        </label>

                        <input type="text" id="name" class="form-control"
                               value.bind="parent.testCase.name"
                               validate="name">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    Variants
                </div>
                <form class="form card-block">
                    <div class="row"
                         repeat.for="variant of parent.testCase.variants">
                        <div class="form-group col-sm-6">
                            <label for="name-${$index}"
                                   class="form-control-label">
                                Name
                            </label>

                            <input type="text" id="name-${$index}"
                                   class="form-control"
                                   value.bind="variant.name"
                                   validate.bind="variant.validation"
                                   validate="name">
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="url-${$index}"
                                   class="form-control-label">
                                Url
                            </label>

                            <div class="${$index !== 0 ? 'input-group' : ''}">
                                <input type="text" id="url-${$index}"
                                       class="form-control"
                                       value.bind="variant.url"
                                       validate.bind="variant.validation"
                                       validate="url">

                                <span class="input-group-btn"
                                      if.bind="$index !== 0">
                                    <button class="btn btn-danger"
                                            click.trigger="parent.testCase.removeVariant($index)"
                                    >
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </span>
                            </div>

                        </div>

                    </div>

                </form>
                <div class="card-footer text-xs-right">
                    <button class="btn btn-primary"
                            click.trigger="parent.testCase.addVariant()">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
